.boutonCours {
  position: relative;
  top: -7vh;
  left: 3vw;
  transition: scale 0.5s, transform 0.5s;
  width: 150px;
  scale: 80%;

  .btn1 {
    height: 5px;
    width: 90px;
    background-color: #fcbe32;
    margin-bottom: 5px;
    position: relative;
    left: 60px;
    transition: color 0.5s, background-color 0.1s;
  }

  a{
    text-decoration: none;
  }

  .btn2 {
    width: 150px;
    height: 50px;
    background-color: #fcbe32;
    text-align: center;
    align-content: center;
    font-size: x-large;
    color: #14243c;
    transition: color 0.5s, background-color 0.1s;
   
  }

  .btn3 {
    width: 90px;
    height: 5px;
    background-color: #fcbe32;
    margin-top: 5px;
    transition: color 0.5s, background-color 0.1s;
  }

  .btn4 {
    width: 25px;
    height: 5px;
    background-color: #fcbe32;
    position: relative;
    top: -5px;
    left: 92px;
    transition: color 0.5s, background-color 0.1s;
  }

  .btn5 {
    width: 10px;
    height: 5px;
    background-color: #fcbe32;
    position: relative;
    top: -10px;
    left: 119px;
    transition: color 0.5s, background-color 0.1s;
  }

  .btn6 {
    width: 65px;
    height: 5px;
    background-color: #fcbe32;
    position: relative;
    top: -8px;
    transition: color 0.5s, background-color 0.1s;
  }

  &:hover {
    .btn1 {
      background-color: black;
      color: #fcbe32;
    }

    .btn2 {
      background-color: black;
      color: #fcbe32;
    }

    .btn3 {
      background-color: black;
      color: #fcbe32;
    }

    .btn4 {
      background-color: black;
      color: #fcbe32;
    }

    .btn5 {
      background-color: black;
      color: #fcbe32;
    }

    .btn6 {
      background-color: black;
      color: #fcbe32;
    }
  }
}
