.Rangee2 {
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;


    .galerieProjets {
        background-color: #bfd3ef;
        height: 40vh;
        flex-grow: 1;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

}