/*******ZONE DE TITRE DE LA PAGE*******/
.titrePage {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 25vh;
    z-index: 1;

    color: var(--gris);
}

.titrePage::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("../../images/entete.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    filter: blur(5px);
    z-index: -1;
}

.imageVieEntete {
    display: none;
    width: 50%;
    height: 50%;
}

/*********TITRE DES SECTIONS**********/
.titreSection h2 {
    background-color: var(--orange);
    width: max-content;
    padding: 0 2rem;

    clip-path: polygon(100% 0, 90% 100%, 0% 100%, 0 0);
}

.titreSection {
    position: relative;
    width: max-content;
}

.titreSection::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2%;
    height: 100%;

    transform: skewX(-42deg); //voir comment faire un calcul
    background-color: var(--orange);
}

.titreSection::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1%;
    height: 100%;

    transform: skewX(-42deg);
    translate: (0.7rem);
    background-color: var(--orange);
}

.vieEtudiante img {
    width: 100vw;
    height: 40vh;

    object-fit: cover; //À VOIR: image devient plus pixelisé

}


.informations {}

.texte {
    margin: 10% 0;
    padding: 2rem;
    background-color: var(--gris);
}

.cetim {}


/*********MÉDIA QUERRY**********/
@media screen and (min-width: 900px) {

    .vieEtudiante img {
        width: 40vw;
        height: auto;

        clip-path: polygon(100% 0, 100% 100%, 0% 100%, 10% 0);
    }

    .titrePage {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        color: var(--gris);
    }

    .titrePage::before {
        content: none;
    }

    .imageVieEntete {
        display: flex;
        width: 60vw;
        height: 100%;
    }


    .informations {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .locaux .informations {
        flex-direction: row-reverse;
    }

    .texte {
        width: 50%;
        clip-path: polygon(100% 0, 90% 100%, 0% 100%, 0 0);
    }



}